<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="css/shop.css" />
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			[v-cloak]{
			    display: none;
			}
			.mb{
				display: none;
			}
			.alert-phoneBox{
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				left: 50%;
				margin-left: -150px;
				top:30%;
				width:300px;
				height: 150px;
				background: #fff;
			}

		</style>
	</head>
	<body>
		<div id="shop" v-cloak>
			<div class="headerpage"></div>
			<div class="main-width">
				<!-- <img class="shop-banner" src="images/shop/shop-banner.png"> -->
				<ul class="shop-nav">
					<li><a href="index.html">首页</a></li>
					<li v-for="item in navList"><a @click="thizType(item.key)">&nbsp;&gt;&nbsp;{{item.value}}</a></li>
				</ul>
				<div class="good-detail clearfix">
					<div class="good-l fl">
						<div class="bigImg swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide" v-for="item in imgList" v-model="nowGg">
									<img :src="item.url">
								</div>
							</div>
						</div>
						<div class="bigImg-list">
							<div class="imgSwiper swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide" v-for="item in imgList" v-model="nowGg">
										<img :src="item.url">
									</div>
								</div>
							</div>
							<div class="swiper-button-next"></div>
							<div class="swiper-button-prev"></div>
						</div>
						<div class="good-operate">
							<!-- <span @click="addCollects"><img class="gray" src="images/shop/collect.png">加入收藏</span> -->
							<!--<span><img src="images/shop/kf.png">在线咨询</span>-->
						</div>
					</div>
					<div class="good-r fr">
						<h3>{{goodsDetail.name}}</h3>
						<div class="good-price" v-if="!getUsers.discount">
							价格：<a>￥</a><i>{{goodsDetail.price}}</i>
						</div>
						<div class="good-price" v-if="getUsers.discount">
							价格：<a>￥</a><i>{{goodsDetail.price * getUsers.discount}}</i><b style="text-decoration: line-through;">{{goodsDetail.price}}</b><span v-if="!getUsers.discount">会员享更多折优惠</span>
						</div>
						<div class="good-num">
							<span>库存：<i>{{goodsDetail.totalStock}}</i></span>
							<!-- <a>|</a>
							<span>起订量：<i>10000</i></span> -->
							<a>|</a>
							<span>累计成交：<i>{{goodsDetail.salesVolume}}笔</i></span>
						</div>
						<p class="freight">运费：<i>{{goodsDetail.freight == 0?'包邮': goodsDetail.freight}}</i></p>
						<div class="good-type">
							<i>规格：</i>
							<span v-for='item in goodsDetail.specsList' @click="changeGG(item,item.id)" :class="{checked:item.id == nowGg}">{{item.name}}</span>
						</div>
						<p class="good-size" v-if="isShowGG">
							参数：
							<span>{{ggList.price}}元(单价)</span>
							<span>{{ggList.stock}}(库存)</span>
							<span class="size-num">
								<i @click="reduce()">-</i>
								<input type="text" name="" value="1" v-model="num" @change="calculate(ggList)" />
								<i @click="add(ggList)">+</i>
							</span>
						</p>
						<div class="good-btn">
							<!-- <span class="btn-cart" @click="addCart(ggList.id)">加入购物车</span> -->
							<span class="btn-buy" @click="addOrder(ggList.id)">立即订购</span>
							<!-- <span class="btn-buy" @click="showBox">立即咨询</span> -->
						</div>
					</div>
				</div>
				<!-- 相关推荐 -->
				<p class="recommend">相关推荐</p>
				<div class="good-recommend clearfix">
					<div class="recommend-list" v-for="(item,index) in shopRecGood.slice(0,5)" @click="goodDetail(item.id,item.classifyCode)">
						<div class="goods-img">
							<img :src="item.logo">
						</div>
						<h4>{{item.name}}</h4>
						<p>￥<i>{{item.price}}</i></p>
						<span>已售：{{item.salesVolume}}瓶</span>
					</div>
				</div>
				<!-- 详情 -->
				<div class="good-btm clearfix">
					<div class="merchant-box fl">
						<div class="merchant-name"><img src="images/shop/merchant.png">{{storeDetail.name}}</div>
						<div class="merchant-cont" style="padding: 20px;">
							<p>主营产品：{{storeDetail.summary}}</p>
							<p>公司地址：{{storeDetail.address}}</p>
							<i class="merchant-line"></i>
							<p>联系人：{{storeDetail.realname}}</p>
							<p>电话：{{storeDetail.cellPhone}}</p>
							<p v-if="storeDetail.spareName">紧急联系人：{{storeDetail.spareName}}</p>
							<p v-if="storeDetail.sparePhone">紧急联系人电话：{{storeDetail.sparePhone}}</p>
						</div>
						<div class="clearfix">
							<div class="go-kf">
								<a :href="token == '' ? outLink : ['http://wpa.qq.com/msgrd?v=3&uin='+ storeDetail.csdQQ +'&site=qq&menu=yes']">
									<img src="images/shop/kf.png">
									<p>在线咨询</p>
								</a>
							</div>
						</div>
					</div>
					<div class="detail-box fr">
						<div class="detail-type">
							<span @click="changeTab(1)">产品详情</span>
							<!-- <span>累计成交(80笔)</span> -->
							<span @click="changeTab(2)">订购说明</span>
							<span @click="changeTab(3)">视频说明</span>
						</div>
						<div class="detail-mage" v-html="goodsDetail.description" v-if="changeNum == 1"></div>
						<div class="detail-mage" v-html="" v-if="changeNum == 2"></div>
						<div class="detail-mage" v-html="" v-if="changeNum == 3">
							<video width="100%" controls>
								<source :src="goodsDetail.video" type="video/mp4">
								</source>
							</video>
						</div>
					</div>
				</div>
			</div>
			<div class="mb" @click="close">
				<div class="alert-phoneBox">
					电话：{{storeDetail.cellPhone}}
				</div>
			</div>
		</div>
		<div class="footerpage"></div>
		<script src="js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/qs.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/request.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/qurls.js" type="text/javascript" charset="utf-8"></script>
		<script>
			$(function() {
				$(".headerpage").load("header.html");
				$(".footerpage").load("footer.html?vid=0717");
			});
		</script>
		<script type="text/javascript">
			new Vue({
				el: '#shop',
				data() {
					return {
						getUsers: '',
						token: '',
						navList: '', // 级别导航
						childType: '', // 子集type列表
						goodsDetail: '', //商品详情
						storeDetail:'',//店铺详情
						shopRecGood: '', //店铺推荐商品
						isShowGG: false,
						outLink:'javascript:;',
						shopId: getUrlParam('id'),
						classifyCode: getUrlParam('code'),
						oldPrice: '', //初始价格
						oldImg: '', //初始商品图
						imgList: '', //轮播图容器
						ggList: '', //规格容器
						num: 1, //商品数量
						nowGg: '', //当前选中规格
						chooseGg:'',
						chooseShop:'',//创建订单提交值
						changeNum:1,//产品详情、订购说明
					}
				},
				methods: {
					showBox:function(){
						$('.mb').show()
					},
					close:function(){
						$('.mb').hide()
					},
					// 获取商品详情
					getDetail: function() {
						axios.get(allUrl.getgoodDetail, {
							params: {
								productId: this.shopId
							},
						}).then((response) => {
							if (response != "" && response.code == 0) {
								this.goodsDetail = response.data
								this.imgList = response.data.picList
								this.oldImg = response.data.picList
								this.oldPrice = response.data.price
								this.getShopGood(response.data.businessId)
								$('title').html(response.data.name)
								this.$nextTick(() => {
									this.mySwiper();
								})
							}
						})
					},
					// 获取导航级别
					getNav: function() {
						axios.get(allUrl.getShopNav, {
							params: {
								classifyCode: this.classifyCode,
							},
						}).then((response) => {
							if (response != "" && response.code == 0) {
								this.navList = response.data
							}
						})
					},
					// 点击分类导航
					thizType: function(code) {
						localStorage.setItem(classifyCode, code);
						window.location.href = 'good-list.html'
					},
					add(item) {
						this.num++
						if(item.num >item.stock){
							alert('最大值不能超过库存!')
							item.num--
							return false
						}
					},
					reduce() {
						if (this.num == 1) return
						this.num--
					},
					//输入框改变价格变动
					calculate(item) {
						let myPrice = /^[1-9]\d*$/;
						if(!myPrice.test(this.num)){
							alert('请输入正确的数量！')
							this.num = 1
						}
						if(this.num > item.stock){
							alert('最大值不能超过库存！')
							this.num = item.stock
						}
					},
					// 获取分类推荐商品
					getShopGood: function() {
						axios.get(allUrl.getRecGood, {
							params: {
								pageSize:10,
								classifyCode: this.classifyCode,
								recommend:true
							},
						}).then((response) => {
							if (response != "" && response.code == 0) {
								this.shopRecGood = response.data.data
							}
						})
					},
					// 跳转商品详情
					goodDetail:function(id,code){
						window.location.href = 'good-detail.html?id='+id+'&code='+code
					},
					// 选择规格
					changeGG: function(item, ggId) {
						if (this.nowGg == ggId) {
							this.nowGg = ''
							this.chooseGg = ''
							this.imgList = this.oldImg
							this.goodsDetail.price = this.oldPrice
							this.isShowGG = false
							this.mySwiper();

						} else {
							this.imgList = ''
							this.imgList = item.list
							this.goodsDetail.price = item.price
							this.ggList = item
							this.isShowGG = true
							this.nowGg = ggId;
							this.chooseGg = item
							this.mySwiper();
						}
					},
					//立即订购
					addOrder:function(id){
						if (this.nowGg == '') {
							alert('请选择商品规格!')
							return false
						}
						let myJson = JSON.stringify({
							prodect: this.goodsDetail,
							productSpecs:this.chooseGg,
							productSpecsNum: this.num,
						})
						localStorage.setItem('order', myJson);
						window.open('pay.html')
					},
					mySwiper: function() {
						var galleryThumbs = new Swiper('.imgSwiper', {
							spaceBetween: 10,
							slidesPerView: 5,
							freeMode: true,
							watchSlidesVisibility: true,
							watchSlidesProgress: true,
							observer: true, //修改swiper自己或子元素时，自动初始化swiper
							observeParents: true //修改swiper的父元素时，自动初始化swiper
						});
						var galleryTop = new Swiper('.bigImg', {
							spaceBetween: 10,
							navigation: {
								nextEl: '.swiper-button-next',
								prevEl: '.swiper-button-prev',
							},
							thumbs: {
								swiper: galleryThumbs
							},
							observer: true, //修改swiper自己或子元素时，自动初始化swiper
							observeParents: true //修改swiper的父元素时，自动初始化swiper
						});
					},
					changeTab:function(num){
						this.changeNum = num
					},
				},
				mounted() {
					this.getNav();
					this.getDetail();
				}
			})
		</script>

	</body>
</html>
