<div class="header" id="headTop">
	<div class="head_mid clearfix allWidth">
		<a href="index.html"><img class="fl head_logo" src="images/logo.png"></a>
		<div class="head_serch fl clearfix">
			<!-- <div class="headSerch_l fl">
				<span class="head_select"><i>{{selectType}}</i><img src="images/header/head_down.png"></span>
				<ul class="head_list">
					<li @click="changeType(0)">产品</li>
					<li @click="changeType(1)">店铺</li>
				</ul>
			</div> -->
			<!-- <span class="fl headSerch_m">|</span> -->
			<input type="text" name="" id="" value="" v-model="findTxt" placeholder="请输入搜索关键字" />
		</div>
		<div class="head_btn fl" @click="searchGo">搜索<img src="images/icon-find.png" ></div>
		<div class="head_safeguard fr clearfix">
			<div>
				<img src="images/icon-pin.png">
				<p>品牌保障</p>
			</div>
			<div>
				<img src="images/icon-zhi.png">
				<p>品质保障</p>
			</div>
			<div>
				<img src="images/icon-fu.png">
				<p>服务保障</p>
			</div>
		</div>
		<!-- 个人中心显示 -->
		<div class="head_person fr hidden">
			hi，欢迎您！
		</div>
	</div>
	<div class="head-bg">
		<div class="head_btm allWidth clearfix">
			<span class="head_type fl" onclick="showNav()"><img src="images/icon-nav.png">商品分类</span>
			<ul class="fl head_nav clearfix">
				<li><a href="index.html">商城首页</a></li>
				<li><a href="shop-search-store.html" @click="removeSe">品牌商家</a></li>
				<li><a href="shop.html" @click="removeSe">商品中心</a></li>
				<li><a href="news.html">新闻中心</a></li>
				<li><a href="gywm.html">关于我们</a></li>
			</ul>

			<div class="good_nav" @mouseleave='navLeave()'>
				<ul class="good_list">
					<li class="good_type good_pt" v-for="item in navTypeList" @mouseenter="enter(item.classifyCode)">
						{{item.title}}<img class="good_right" src="images/header/right.png">
					</li>
				</ul>
				<div class="good_box" v-show="seen">
					<div class="good_type2" v-for="item in goodsList">
						<a class="good_tit" @click="storeDetail(item.classifyCode,item.title)">{{item.title}}</a>
						<ul v-if="item.children != ''">
							<li v-for="iList in item.children"><a @click="storeDetail(iList.classifyCode,iList.title)">{{iList.title}}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/qs.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/request.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".head_nav li a").each(function() {
				if ($(this)[0].href == String(window.location)) {
					$(".head_nav .active").removeClass('active')
					$(this).parent().addClass("active");
				}
			});
		});

		function showNav() {
			$('.good_nav').toggle()
		}
	</script>
	<script type="text/javascript">
		let allUrl = {
			getUser: 'yungangwan_app/user/current_user', //获取用户信息
			typeList: 'yungangwan_app/classify/classify_children', //商品分类
			mroeList: 'yungangwan_app/classify/classify_children_vo', //二级及以下分类
			article_list: "yungangwan_app/article/list", //article总接口
			mageAbout: 'yungangwan_app/config/getByKey',
		};
		new Vue({
			el: '#headTop',
			data() {
				return {
					loginIn: '0',
					getUsers: '',
					userRoles: '',
					isCompany: '',
					token: '',
					navTypeList: '',
					goodsList: '',
					seen: false,
					classifyCode: '',
					selectType: '产品', //搜索类型
					findTxt: '', //搜索内容
					qrCode: '', //二维码
					kfPhone: '', //客服电话
				}
			},
			methods: {
				// 获取用户信息
				getPeople: function() {
					this.token = localStorage.getItem(tkn);
					axios.get(allUrl.getUser, {
						headers: {
							Authorization: this.token,
							Accept: 'application/json',
						},
					}).then((response) => {
						if (response != "" && response.code == 0) {
							this.getUsers = response.data
							this.userRoles = response.data.userRoles
							this.isCompany = response.data.isCompany
							this.loginIn = '1'
						}
					})
				},
				// 退出登录
				logOut: function() {
					window.localStorage.removeItem(tkn);
					window.location.href = window.location.href
				},
				// 点击验证是否登录
				uOnLine: function(url) {
					this.token = localStorage.getItem(tkn);
					if (this.token && this.token != 'null' && this.token != 'undefined') {
						window.location.href = url;
					} else {
						window.location.href = 'login.html';
						return false;
					}
				},
				// 分类列表
				getTypeList: function() {
					axios.get(allUrl.typeList, {
						params: {
							classifyCode: this.classifyCode
						},
					}).then((response) => {
						if (response != "" && response.code == 0) {
							this.navTypeList = response.data
						}
					})
				},
				// 鼠标移入显示二级分类
				enter(ToclassifyCode) {
					this.seen = true;
					axios.get(allUrl.mroeList, {
						params: {
							classifyCode: ToclassifyCode
						},
					}).then((response) => {
						if (response != "" && response.code == 0) {
							this.goodsList = response.data
						}
					})
				},
				// 鼠标移出关闭二级分类
				navLeave: function() {
					this.seen = false;
				},
				// 跳转商品列表
				storeDetail: function(goStoreId, goStoreName) {
					localStorage.setItem(storeId, goStoreId);
					localStorage.setItem(storeName, goStoreName);
					window.location.href = 'shop.html'
				},
				removeSe: function() {
					localStorage.setItem(storeId, '');
					localStorage.setItem(storeName, '');
					localStorage.setItem(searchStore, '');
				},
				// 选择搜索类型
				changeType: function(num) {
					if (num == 0) {
						this.selectType = '产品'
					} else {
						this.selectType = '店铺'
					}
				},
				// 搜索按钮
				searchGo: function() {
					if (this.findTxt) {
						if (this.selectType == '产品') {
							localStorage.setItem(searchGood, this.findTxt);
							window.location.href = 'shop-search-good.html'
						} else if (this.selectType == '店铺') {
							localStorage.setItem(searchStore, this.findTxt);
							window.location.href = 'shop-search-store.html'
						}
					} else {
						alert('输入值不能为空！')
						this.findTxt = ''
					}

				},
				//获取二维码
				myQrcode: function() {
					axios.get(allUrl.article_list, {
						params: {
							articleTypeId: 'ca6676614c4e4cde9c4b3d7dfd3fcf21',
						}
					}).then((result) => {
						if (result != "" && result.code == 0) {
							this.qrCode = result.data.data[0].cover
						}
					}).catch((error) => {
						//alert(error.message)
					})
				},
				//获取客服电话
				myKfNum: function() {
					axios.get(allUrl.mageAbout, {
						params: {
							key: 'fixed_line_telephone',
						}
					}).then((result) => {
						if (result != "" && result.code == 0) {
							this.kfPhone = result.data.value
						}
					}).catch((error) => {
						//alert(error.message)
					})
				},
			},
			mounted() {
				this.token = localStorage.getItem(tkn);
				if (this.token && this.token != 'null' && this.token != 'undefined') {
					this.getPeople();
				}
				this.getTypeList();
				this.myQrcode();
				this.myKfNum();
			}
		})
	</script>
