<div class="header" id="headTop">
	<div class="head_top">
		<div class="headTop_box allWidth clearfix">
			<a class="fl" href="index.html"><img class="homeImg" src="images/header/head_home.png">中国环氧树脂网</a>
			<span class="fr head_tel">
				<p>平台热线</p>
				<strong style="display: inline-block;">0510-85508169</strong>
			</span>
		</div>
	</div>
	<div class="head_mid clearfix allWidth">
		<a href="index.html"><img class="fl head_logo" src="images/logo.png"></a>
		<div class="head_serch fl clearfix">
			<input type="text" name="" id="" value="" v-model="findTxt" placeholder="请输入搜索关键字" />
		</div>
		<div class="head_btn fl" @click="searchGo">搜索<img src="images/icon-find.png" ></div>
		<div class="head_safeguard fr clearfix">
			<div>
				<img src="images/icon-pin.png">
				<p>品牌保障</p>
			</div>
			<div>
				<img src="images/icon-zhi.png">
				<p>品质保障</p>
			</div>
			<div>
				<img src="images/icon-fu.png">
				<p>服务保障</p>
			</div>
		</div>
		<!-- 个人中心显示 -->
		<div class="head_person fr hidden">
			hi，欢迎您！
		</div>
	</div>
	<div class="head-bg">
		<div class="head_btm allWidth clearfix">
			<span class="head_type fl" onclick="showNav()"><img src="images/icon-nav.png">商品分类</span>
			<ul class="fl head_nav clearfix">
				<li><a href="index.html">首页</a></li>
				<li><a href="technical.html">技术资料</a></li>
				<li><a href="cooperation.html">环氧论坛</a></li>
				<li><a href="shop-list.html">企业名录</a></li>
				<li><a href="">环氧BBS</a></li>
				<li><a href="news.html">新闻中心</a></li>
				<li><a href="add-consult.html">合作咨询</a></li>
				<li><a href="about.html">关于我们</a></li>
			</ul>

			<div class="good_nav" @mouseleave='navLeave()'>
				<ul class="good_list">
					<li :class="activeNav ==index?'good_type good_pt active': 'good_type good_pt'" v-for="(item,index) in navTypeList" @mouseenter="enter(item.classifyCode,item,index)">
						{{item.title}}<img class="good_right" src="images/header/right.png">
					</li>
				</ul>
				<div class="good_box" v-show="seen">
					<div class="good_type2" v-for="item in goodsList">
						<a class="good_tit" @click="shopDetail(item.classifyCode,item.title)">{{item.title}}</a>
						<ul v-if="item.children != ''">
							<li v-for="iList in item.children"><a @click="shopDetail(iList.classifyCode,iList.title)">{{iList.title}}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/qs.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/request.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".head_nav li a").each(function() {
				if ($(this)[0].href == String(window.location)) {
					$(".head_nav .active").removeClass('active')
					$(this).parent().addClass("active");
				}
			});
		});

		function showNav() {
			$('.good_nav').toggle()
		}
	</script>
	<script type="text/javascript">
		let allUrl = {
			typeList: '/shuzhi/home/tree', //商品分类
			searchMore:'/shuzhi/home/overall_product',//搜索
		};
		new Vue({
			el: '#headTop',
			data() {
				return {
					navTypeList: '',
					goodsList: '',
					seen: false,
					classifyCode: '',
					selectType: '产品', //搜索类型
					findTxt: '', //搜索内容
					activeNav:-1
				}
			},
			methods: {
				// 分类列表
				getTypeList: function() {
					axios.get(allUrl.typeList, {
					}).then((response) => {
						if (response != "" && response.code == 0) {
							this.navTypeList = response.data
						}
					})
				},
				// 鼠标移入显示二级分类
				enter(ToclassifyCode,item,index) {
					this.activeNav = index
					this.seen = true;
					this.goodsList = item.children
				},
				// 鼠标移出关闭二级分类
				navLeave: function() {
					this.seen = false;
					this.activeNav = '-1'
				},
				// 跳转商品列表
				shopDetail: function(code, goStoreName) {
					localStorage.setItem('classifyCode', code);
					localStorage.setItem('storeName', goStoreName);
					window.location.href = 'good-list.html'
				},
				removeSe: function() {
					localStorage.setItem('classifyCode', '');
					localStorage.setItem('storeName', '');
					localStorage.setItem('searchStore', '');
				},
				// 搜索按钮
				searchGo: function() {
					if (this.findTxt) {
						localStorage.setItem('searchGood', this.findTxt);
						window.location.href = 'shop-search-good.html'
					} else {
						alert('输入值不能为空！')
						this.findTxt = ''
					}

				},
			},
			mounted() {
				this.getTypeList();
			}
		})
	</script>
