<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>中国环氧树脂网</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css?vid=0308" />
		<link rel="stylesheet" type="text/css" href="css/swiper.min.css" />
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
				window.location.href = "phone/phone.html";
			}
		</script>
		<style type="text/css">
			.merchant-top>span {
				display: inline-block;
				width: 117px;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
				overflow: hidden;
			}

			[v-cloak] {
				display: none;
			}

			.good_nav {
				display: block;
			}
			.good_box{
				width: 710px;
			}
		</style>
	</head>
	<body>

		<div class="headerpage"></div>
		<div id="indexBox" v-cloak>
			<div class="index-top" id="goTop">
				<div class="index-swiper swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide swiper-slide1" v-for="item in pageBanner" :style="{'backgroundImage': 'url(' + item.cover + ')'}"></div>
					</div>
					<div class="pagination"></div>
				</div>
				<div class="main-width swiper-right">
					<div class="swiper-news" style="overflow: hidden;height: 234px">
						<div class="swiper-news-tit clearfix">
							<img height="20" src="images/icon-voice.png">
							<span>消息</span>
							<a href="notice.html">更多&gt;&gt;</a>
						</div>
						<div v-for="(item,index) in bannerArticleList" v-if="index<6">
							<p class="swiper-news-list" @click="commentList(item.id)"><i>[{{item.articleTypeName}}]</i>{{item.title}}</p>
						</div>
					</div>
					<div class="swiper-news-img">
						<a target="_blank" href="http://www.wxepoxy.com/cn/Index.asp">
							<img src="images/bins.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="main-width index-tip index-tip1">
				<a class="index-tip-list" target="_blank" href="cooperation.html">
					<div class="tip-list-img">
						<img class="tip-move" src="images/icon-com.png" >
						<img class="tip-on" src="images/icon-com-on.png" >
					</div>
					<h2>环氧论坛</h2>
					<p>环氧树脂是一大类应用十分广泛的有机化工产品，是一个经济效益比较好的产业。</p>
				</a>
				<a class="index-tip-list" target="_blank">
					<div class="tip-list-img">
						<img class="tip-move" src="images/icon-jl.png" >
						<img class="tip-on" src="images/icon-jl-on.png" >
					</div>
					<h2>交流平台</h2>
					<p>环氧树脂是一大类应用十分广泛的有机化工产品，是一个经济效益比较好的产业。</p>
				</a>
				<a class="index-tip-list" target="_blank" href="news.html">
					<div class="tip-list-img">
						<img class="tip-move" src="images/icon-new.png" >
						<img class="tip-on" src="images/icon-new-on.png" >
					</div>
					<h2>近日要闻</h2>
					<p>环氧树脂是一大类应用十分广泛的有机化工产品，是一个经济效益比较好的产业。</p>
				</a>
			</div>
			<div class="main-width index-tip index-tip2">
				<a class="index-tip-list" target="_blank" href="technical.html">
					<div class="tip-list-img">
						<img class="tip-move" src="images/icon-zl.png" >
						<img class="tip-on" src="images/icon-zl-on.png" >
					</div>
					<h2>技术资料</h2>
					<p>环氧树脂是一大类应用十分广泛的有机化工产品，是一个经济效益比较好的产业。</p>
				</a>
				<a class="index-tip-list" target="_blank">
					<div class="tip-list-img">
						<img class="tip-move" src="images/icon-bbs.png" >
						<img class="tip-on" src="images/icon-bbs-on.png" >
					</div>
					<h2>环氧BBS</h2>
					<p>环氧树脂是一大类应用十分广泛的有机化工产品，是一个经济效益比较好的产业。</p>
				</a>
				<a class="index-tip-list" target="_blank" href="shop-list.html">
					<div class="tip-list-img">
						<img class="tip-move" src="images/icon-comp.png" >
						<img class="tip-on" src="images/icon-comp-on.png" >
					</div>
					<h2>合作企业</h2>
					<p>环氧树脂是一大类应用十分广泛的有机化工产品，是一个经济效益比较好的产业。</p>
				</a>
			</div>
			<div class="main-width">
				<p class="main-tit tit-bg">
					<img src="images/icon-tit.png">
					动态视频
					<!-- <a href="shop-list.html" class="main-more">
						<span>+ 查看更多</span>
					</a> -->
				</p>
				<div class="index-video">
					<div class="index-video-swip swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<video width="200" height="150">
									<source src="myvideo.mp4" type="video/mp4"></source>
								</video>
								<p>名称</p>
							</div>
						</div>
						<div class="swiper-scrollbar"></div>
					</div>
				</div>
			</div>
			<div class="main-width">
				<p class="main-tit tit-bg">
					<img src="images/icon-tit.png">
					产品应用展示
					<!-- <a href="shop-list.html" class="main-more">
						<span>+ 查看更多</span>
					</a> -->
				</p>
				<div class="index-video">
					<div class="index-img-swip swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="img-slide">
									<img src="images/0.png" >
									<p>名称</p>
								</div>
								
							</div>
						</div>
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>
				</div>
			</div>
			<div class="main-width">
				<p class="main-tit tit-bg">
					<img src="images/icon-tit.png">
					合作企业
					<a href="shop-list.html" class="main-more">
						<span>+ 查看更多</span>
					</a>
				</p>
				<ul class="cooperative clearfix">
					<li v-for="item in companyList" @click="shopDetail(item.id)">
						<div>
							<img :src="item.logo?item.logo:'images/noLogo.png'">
						</div>
						<p>{{item.cName}}</p>
					</li>
				</ul>
			</div>
			<div class="main-width" v-for="(list,index) in goodList" v-if="list.productList.length>0">
				<p class="main-tit tit-bg">
					<img src="images/icon-tit.png">
					{{list.title}}
					<a @click="storeDetail(list.classifyCode,list.title)" class="main-more">
						<span>+ 查看更多</span>
					</a>
				</p>
				<div class="jzBox">
					<div>
						<img :src="list.cover" width="188" height="620" alt="">
					</div>
					<ul class="jzBox-last">
						<li v-for="(item,index) in list.productList" v-if="index<8" @click="goodDetail(item.id,item.classifyCode)">
							<a>
								<div class="index-img">
									<img height="100%" :src="item.logo?item.logo:'images/shop/noImg.jpg'">
								</div>
								<h2 class="index-h2">{{item.name}}</h2>
								<!-- <div class="index-tag">
									<span>标签</span>
								</div> -->
								<p class="index-pay">￥<i>{{item.price}}</i></p>
								<span class="buyBtn">预约下单</span>
							</a>
						</li>
					</ul>
				</div>
				<img width="100%" style="margin: 30px 0;" :src="bannerGaoList[index].cover" v-if="bannerGaoList[index]" @click="commentList(bannerGaoList[index].id)">
			</div>
			<div class="index-flow">
				<div class="main-width">
					<div class="">
						<h2>购买流程</h2>
						<p>Purchase process</p>
					</div>
					<div class="index-flow-list">
						<img src="images/flow1.png">
						客户下单
					</div>
					<div class="index-flow-list">
						<img src="images/flow2.png">
						支付货款
					</div>
					<div class="index-flow-list">
						<img src="images/flow3.png">
						物流发货
					</div>
					<div class="index-flow-list">
						<img src="images/flow4.png">
						开具发票
					</div>
				</div>
			</div>
			<div class="footerpage"></div>
			<script src="js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
			<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
			<script src="js/qs.min.js" type="text/javascript" charset="utf-8"></script>
			<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
			<script src="js/request.js" type="text/javascript" charset="utf-8"></script>
			<script src="js/qurls.js" type="text/javascript" charset="utf-8"></script>
			<script src="js/durl.js" type="text/javascript" charset="utf-8"></script>
			<script type="text/javascript">
				new Vue({
					el: '#indexBox',
					data() {
						return {
							pageBanner: '', //banner
							goodList:[],
							companyList:[],//推荐企业
							// 新闻
							typeId: "eb186ab5a3b94ae998675d5f3498070d",
							zxId: "93ee4d6f1ac34297b120fb6864155e97",
							newsAll: "",
							newsTj: "",
							/* banner 文章列表 */
							bannerArticleList: [],
							bannerGaoList: [],

							advertisId: '64560152089345f48934587a4bd9ca8b',
							advertising: '', //广告
						}
					},
					methods: {
						// 获取banner
						gatBanner:function(){
							axios.get(allUrl.getBanner, {
								params: {
									articleSubTypeId: "845d02cfd00c4eeeb4a041adea231364",
								}
							}).then((result) => {
								if (result != "" && result.code == 0) {
									this.pageBanner = result.data
									this.$nextTick(() => {
										this.bannerSwiper();
									})
								}
							})
						},
						//获取广告
						gatAdver:function(){
							let myJson = {
								articleTypeId: '17546009030a4b1aa66422ed5bab6381',
								pageSize: 20,
								pageIndex: 1
							}
							axios.post(allUrl.article_list, myJson).then((result) => {
								if (result != "" && result.code == 0) {
									this.bannerGaoList = result.data.data
								}
							})
						},
						//企业
						getCompanyList: function() {
							axios.get(allUrl.bestCompany, {
								params: {
									recommend:true,
									pageNum: 1,
									pageSize: 12,
									dismount:2
								}
							}).then((response) => {
								if (response != "" && response.code == 0) {
									this.companyList = response.data
								}
							})
						},
						/* 公告消息 */
						bannerArticle: function() {
							axios.get(allUrl.getAnnunce, {
								params: {
									typeId: 'cb5f2bd0599f47088a119fe899213e2f',
									recommend:true
								}
							}).then((response) => {
								if (response != "" && response.code == 0) {
									this.bannerArticleList = response.data
								}
							})
						},
						//首页商品
						getIndexsList: function() {
							axios.get(allUrl.classifyProduct, {
								params: {
									pageNum: 1,
									pageSize: 10,
								}
							}).then((response) => {
								if (response != "" && response.code == 0) {
									this.goodList = response.data.data
								}
							})
						},
						// 跳转商品详情
						goodDetail: function(id, code) {
							window.location.href = 'good-detail.html?id='+id+'&code='+code
						},
						// 跳转商品列表
						storeDetail: function(code, goStoreName) {
							localStorage.setItem(classifyCode, code);
							localStorage.setItem(storeName, goStoreName);
							window.location.href = 'good-list.html'
						},
						// 跳转店铺页
						shopDetail: function(commpanyId) {
							window.open('shop-store.html?commpanyId=' + commpanyId)
						},
						// 跳转新闻详情
						commentList: function(id) {
							window.open('news-detail.html?id='+id)
						},
						bannerSwiper: function() {
							// 首页banner轮播
							const headSwiper = new Swiper('.index-swiper', {
								slidesPerView: 1,
								autoplay: {
									delay: 2000,
									disableOnInteraction: false,
								},
								pagination: {
									el: '.pagination',
									clickable: true,
								},
								loop: true,
								observer: true, //修改swiper自己或子元素时，自动初始化swiper
								observeParents: true //修改swiper的父元素时，自动初始化swiper
							});
						},
						videoSwiper: function() {
							// 首页banner轮播
							const headSwiper = new Swiper('.index-video-swip', {
								slidesPerView: 'auto',
								scrollbar: {
									el: '.swiper-scrollbar',
								},
								observer: true, //修改swiper自己或子元素时，自动初始化swiper
								observeParents: true //修改swiper的父元素时，自动初始化swiper
							});
						},
						imgSwiper: function() {
							// 首页banner轮播
							const headSwiper = new Swiper('.index-img-swip', {
								slidesPerView: 'auto',
								navigation: {
									nextEl: '.swiper-button-next',
									prevEl: '.swiper-button-prev',
								},
								observer: true, //修改swiper自己或子元素时，自动初始化swiper
								observeParents: true //修改swiper的父元素时，自动初始化swiper
							});
						},
					},
					mounted() {
						$(".headerpage").load("header.html");
						$(".footerpage").load("footer.html?vid=0717");
						this.getIndexsList()
						this.getCompanyList()
						this.bannerArticle() //公告
						this.gatBanner()
						this.gatAdver()
						this.videoSwiper()
						this.imgSwiper()
					}
				})
			</script>
	</body>
</html>
