<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style type="text/css">
			.goPay {
				padding: 5px;
				border: 1px solid #ff043e;
				border-radius: 5px;
				cursor: pointer;
				text-indent: 0;
				float: right;
				margin-left: 10px;
			}

			.orange span {
				border: 1px solid #f19601;
				border-radius: 5px;
				padding: 5px 10px;
				cursor: pointer;
				text-indent: 0;
				display: inline-block;
			}
		</style>
	</head>
	<body>
		<div class="headerpage2"></div>

		<div class="allWidth myNav-box" id="order" v-cloak>
			<!-- <div class="myNavP"></div> -->
            <div class="myHead" style="display:inline-block; margin-top:20px"></div>
			<div class="mybox" style="width: calc(100% - 225px);">
				<!-- 插件 -->
				

				<div class="mybox-bottom clearfix">
					<div class="mybox-bottom-l">
						<!-- <ul class="myOrder-title">
							<li @click="getMyOrder(9)" :class="{active:navNum == 9}">全部订单<span></span></li>
							<li @click="getMyOrder(0)" :class="{active:navNum == 0}">待付款<span></span></li>
							<li @click="getMyOrder(1)" :class="{active:navNum == 1}">待发货<span></span></li>
							<li @click="getMyOrder(2)" :class="{active:navNum == 2}">待收货<span></span></li>
							<li @click="getMyOrder(3)" :class="{active:navNum == 3}">已完成<span></span></li>
						</ul> -->
						<table class="myOrder-box" border="0" cellspacing="0" cellpadding="0">
							<thead style="background: #f6fafc;">
								<tr class="title1">
									<td width="300">产品</td>
									<td width="200">单价</td>
									<td width="200">规格</td>
									<td width="100">数量</td>
									<!-- <td width="120">运费</td> -->
								</tr>
							</thead>
							<tbody v-for="item in orderList" v-if="orderList">
								<tr v-if="item.msg">
									<td colspan="3" style="text-align: left;color: #FF0000;">&nbsp;&nbsp;当前订单已驳回，原因：{{item.msg}}</td>
									<td v-if="item.status == 0" class="red">
										<span v-if="item.msg != ''" class="goPay" @click="goPay(item)">重新提交</span>
									</td>
								</tr>
								<tr class="title2">
									<td>订单号：{{item.orderNum}}</td>
									<td colspan="2">{{item.businessName}}</td>
                                    <td>{{item.statusStr}}</td>
								</tr>
								<tr class="title4" v-for="val in item.detailList">
									<td @click="goodDetail(val.productId,val.classifyCode,val.model)">
										<img :src="val.logo" alt="">
										<span>{{val.productName}}</span>
									</td>
									<td>{{val.unitPrice}}￥</td>
									<td>{{val.productSpecsName}}</td>
									<td>{{val.productSpecsNum}}</td>
                                    <!-- <td>{{val.freightType == 0 ? '包邮' : (val.freightType == 1 ? val.freight +'￥' : (val.freightType == 2 ? '待商议' : '商议完成'))}}</td> -->
								</tr>
								<tr v-if="item.deliverGoods">
									<td colspan="4" style="text-align: left;color: #00aa00;">&nbsp;&nbsp;物流信息：{{item.deliverGoods}}</td>
								</tr>
								<tr class="title3">
									<!-- <td v-if="getUsers.discount != ''" style="color: #FF0000;">成交价：{{item.settleAmount}}￥<span style="text-decoration: line-through;width: auto;color: #C0C0C0;">(￥{{item.totalAmount+item.totalFreight}})</span></td>
									<td v-if="getUsers.discount == ''">成交价：{{item.totalAmount}}￥</td> -->
                                    <td style="color: #FF0000;">总金额：{{item.totalAmount}}</td>
									<td><!-- 总运费：{{item.totalFreight}}￥ --></td>
									<td></td>
									<td class="red"><!-- <a :href="token == '' ? outLink : ['http://wpa.qq.com/msgrd?v=3&uin='+ item.csdQQ +'&site=qq&menu=yes']"><img
											 src="images/duan-img/kf.png" alt="">&nbsp;客服</a> --></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>



		<div class="footerpage"></div>
		<script src="js/duan-js/duanCommon.js"></script>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/qs.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/request.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/qu-js/urls.js" type="text/javascript" charset="utf-8"></script>
		<script>
			$(function() {
				/*公共部分
				 * 导航栏
				 * footer CopyRight
				 * duan
				 */
				$(".headerpage2").load("header2.html");
				$(".footerpage").load("footer.html?vid=0717");
				$(".myRight").load("myRight.html");
				$(".myHead").load("myP-head.html");
				$(".myNavP").load("myP-nav.html");
			});
		</script>
		<script type="text/javascript">
			new Vue({
				el: '#order',
				data() {
					return {
						getUsers: '',
						token: '',
						orderList: '', //订单列表
						navNum: 9, //选中切换
						outLink: 'javascript:;',
					}
				},
				methods: {
					// 获取当前登录用户
					getPeople: function() {
						this.token = localStorage.getItem(tkn);
						axios.get(allUrl.getUser, {
							headers: {
								Authorization: this.token,
								Accept: 'application/json',
							},
						}).then((response) => {
							if (response != "" && response.code == 0) {
								this.getUsers = response.data
								this.getMyOrder(9)
								//this.chooseBox()
							}
							if (response.code == 7) {
								window.localStorage.removeItem(tkn);
								alert('登录失效，请重新登录！')
								window.location.href = 'login.html';
							}
						})
					},
					//获取订单列表
					getMyOrder: function(num) {
						axios.get(allUrl.getOrderList, {
							params: {
								status: this.listNum,
							},
							headers: {
								Authorization: this.token,
								Accept: 'application/json',
							},
						}).then((response) => {
							if (response != "" && response.code == 0) {
								this.orderList = response.data
							}
						})
					},
					// 跳转商品详情
					goodDetail: function(goGoodId, comtIds, model) {
						if (model == 1) {
							localStorage.setItem(goodsId, goGoodId);
							localStorage.setItem(storeId, comtIds);
							window.location.href = 'shop-detail.html'
						} else {
							alert("该商品暂无详情！")
						}
					},
				},
				mounted() {
					this.token = localStorage.getItem(tkn);
					if (this.token && this.token != 'null' && this.token != 'undefined') {
						this.getPeople();
					} else {
						window.location.href = 'login.html'
					}
				}
			})
		</script>

	</body>
</html>
