<div class="mybox-topBox" id="headBox"  v-cloak>
	<div class="mybox-left">
		<div>
			<img class="myHead-img" :src="getUserList.headImg" alt="">
			<div>
				<img v-if="getUserList.isCompany == 1" src="images/duan-img/my-qi.png" alt="">
				<img v-if="getUserList.discount" src="images/duan-img/my-vip.png" alt="">
			</div>
		</div>
		<p>{{getUserList.nickname}}</p>
		<span class="mybox-but" style="margin-right: 10px"><a href="my-ocrPersonal.html">个人信息</a></span>
		<!-- <span class="mybox-but"><a href="my-address.html">收货地址</a></span> -->
	</div>
	<ul class="mybox-top hidden">
		<li>
			<a href="my-coupons.html">
				<span>{{coupon}}</span>
				<div>优惠劵</div>
			</a>
		</li>
		<li>
			<a href="my-loan.html">
				<span><img src="images/duan-img/my-top-bai.png" height="30" alt=""></span>
				<div>我的白条</div>
			</a>
		</li>
		<li>
			<a href="my-VIP.html">
				<span><img src="images/duan-img/my-top-vip.png" alt=""></span>
				<div>我的会员</div>
			</a>
		</li>
		<li>
			<a href="my-shopping.html">
				<span>{{shopCart}}</span>
				<div>购物车</div>
			</a>
		</li>
		<li>
			<a href="my-stars.html">
				<span v-model="collect">{{collect}}</span>
				<div>我的收藏</div>
			</a>
		</li>
	</ul>
</div>

<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/qs.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/request.js" type="text/javascript" charset="utf-8"></script>
<script src="js/qu-js/urls.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".mybox-top li a").each(function() {
			if($(this)[0].href == String(window.location)) {
				$('.mybox-top').find('.choose').removeClass('choose');
				$(this).parent("li").addClass("choose");
			}
		});
	})
    let allUrl = {
    	getUser: 'yungangwan_app/user/current_user',
		getPerson:'yungangwan_app/user/info_list',//购物车，收藏，优惠券总数
    };
    new Vue({
        el:'#headBox',
        data(){
            return{
                getUserList:'',
				collect:0,//我的收藏
				coupon:0,//优惠券
				shopCart:0,//购物车
            }
        },
        mounted:function(){
			this.token = localStorage.getItem(tkn);
			if (this.token && this.token != 'null' && this.token != 'undefined') {
				this.getPeople();
			} else {
				window.location.href = 'login.html'
			}
        },
        methods:{
			// 获取用户信息
			getPeople: function() {
				this.token = localStorage.getItem(tkn);
				axios.get(allUrl.getUser, {
					headers: {
						Authorization: this.token,
						Accept: 'application/json',
					},
				}).then((response) => {
					if (response != "" && response.code == 0) {
						this.getUserList = response.data
						this.getPersonMage();
					}
					if (response.code == 7) {
						window.localStorage.removeItem(tkn);
						alert('登录失效，请重新登录！')
						window.location.href = 'login.html';
					}
				})
			},
			getPersonMage:function(){
			    axios.get(allUrl.getPerson, {
			    	headers: {
			    		Authorization: this.token,
			    		Accept: 'application/json',
			    	},
			    }).then((response) => {
			    	if (response != "" && response.code == 0) {
						this.collect = response.data[0]
						this.coupon = response.data[1]
						this.shopCart = response.data[2]
			    	}
			    })
			}
        },

    })
   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
</script>