<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/qys/zpageNav.css"/>
		<link rel="stylesheet" type="text/css" href="css/qys/shop.css"/>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="shop">
			<div class="headerpage"></div>
			<div class="main-width">
				<img class="shop-banner" src="images/shop/shop-banner.png" >
				<ul class="shop-nav" v-if="this.classifyCode">
					<li><a @click="thizTypeAll">全部</a></li>
					<li v-for="item in navList"><a @click="thizType(item.key)">&nbsp;&gt;&nbsp;{{item.value}}</a></li>
				</ul>
				<ul class="shop-type" v-if="childShow">
					<li v-for="item in childType" @click="thizType(item.classifyCode)">{{item.title}}</li>
				</ul>
				<div class="shop-condition clearfix">
					<span>价格区间：</span>
					<input type="text" v-model="startPrice" name="" id="" value="" style="margin-right: 0;"/>
					<span>~</span>
					<input type="text" v-model="endPrice" name="" id="" value=""/>
					<span class="findShop" @click="findShop">搜索</span>
					<div class="shop-sizer fr">
						<i>筛选：</i>
						<select name="" v-model="priceVal" @change="priceChange">
							<option value="0" selected="selected">默认价格排序</option>
							<option value="1">价格从低到高</option>
							<option value="2">价格从高到低</option>
						</select>
						<select name="" v-model="salesVal" @change="salesChange">
							<option value="0" selected="selected">默认销量排序</option>
							<option value="1">销量从低到高</option>
							<option value="2">销量从高到低</option>
						</select>
					</div>
				</div>
				<div class="shop-goods clearfix">
					<div class="goodsList clearfix" v-for="item in goodList">
						<div class="goodsList-img">
							<img :src="item.logo" >
						</div>
						<p><span>￥{{item.price}}</span> <i>销量：{{item.salesVolume}}</i></p>
						<div class="goodsList-tit">{{item.name}}</div>
						<div class="goodsList-store"  @click="shopDetail(item.businessId)">
							<img src="images/shop/shop.png" >{{item.businessName}}
						</div>
						<a @click="goodDetail(item.id,item.classifyCode)">查看详情</a>
					</div>
				</div>
				<div class="wrap" id="wrap">
				    <zpagenav v-bind:page="page" v-bind:page-size="pageSize" v-bind:total="total" 
				    	v-bind:max-page="maxPage"  v-on:pagehandler="pageHandler">
				    </zpagenav>
				</div>
			</div>
		</div>
		<div class="footerpage"></div>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/qs.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/request.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/qu-js/urls.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/qu-js/zpageNav.js" type="text/javascript" charset="utf-8"></script>
		<script>
			$(function() {
				$(".headerpage").load("header.html");
				$(".footerpage").load("footer.html?vid=0717");
			});
		</script>
		<script type="text/javascript">
			new Vue({
				el: '#shop',
				data() {
					return {
						getUsers:'',
						token:'',
						activeIndex: -1, // 初始化点击的索引值
						goodList:'',
						navList:'',// 级别导航
						childType:'',// 子集type列表
						childShow:false,
						showSell:false,
						sellNum:'销量',
						startPrice:'',// 价格区间（小）
						endPrice:'',// 价格区间（大）
						priceVal:0,
						priceSort:false,//是否按价格排序（true = 是，false = 否）
						priceOrder:false,//价格顺序（true = 降序，false = 升序）
						salesVal:0,
						salesVolumeSort:false,//是否按销量排序（true = 是，false = 否） 
						salesVolumeOrder:false,//销量顺序（true = 降序，false = 升序）
						//分页容器
						page: 1,  //显示的是哪一页
						pageSize: '', //每一页显示的数据条数
						total: '', //记录总数
						maxPage:'',  //最大页数
						// 商品参数
						classifyCode:localStorage.getItem(storeId),
						businessName:'',//商户
						productName:'',//商品名
					}
				},
				methods: {
					// 点击验证是否登录
					uOnLine:function(url) {
						this.token = localStorage.getItem(tkn);
						if(this.token == '' || this.token != null || this.token == 'null' || this.token == 'undefined' || this.token == undefined){
							window.location.href = 'login.html';
							return false;
						}
						window.location.href = url;
					},
					// 获取导航级别
					getNav:function(){
						axios.get(allUrl.getShopNav,{
							params: {
							    classifyCode: this.classifyCode,
							},
						}).then((response) => {
							if (response != "" && response.code == 0) {
								this.navList = response.data
							}
						})
					},
					// 点击分类导航
					thizType:function(code){
						localStorage.setItem(storeId,code);
						window.location.href = window.location.href
					},
					//点击全部
					thizTypeAll:function(){
						localStorage.setItem(storeId,'');
						window.location.href = window.location.href
					},
					//获取子集type
					getTypeList:function(){
						axios.get(allUrl.typeList,{
							params: {
							    classifyCode: this.classifyCode
							},
						}).then((response) => {
							if (response != "" && response.code == 0) {
								if(response.data ==''){
									this.childShow = false
								}else{
									this.childShow = true
									this.childType = response.data
								}
							}
						})
					},
					priceChange:function(){
						if(this.priceVal == 0){
							// 不按价格排序
							this.priceSort = false
						}else if(this.priceVal == 1){
							// 价格升序
							this.priceSort = true
							this.priceOrder = false
						}else if(this.priceVal == 2){
							// 价格降序
							this.priceSort = true
							this.priceOrder = true
						}
						this.getShopList();
					},
					salesChange:function(){
						if(this.salesVal == 0){
							// 不按销量排序
							this.salesVolumeSort = false
						}else if(this.salesVal == 1){
							// 销量升序
							this.salesVolumeSort = true
							this.salesVolumeOrder = false
						}else if(this.salesVal == 2){
							// 销量降序
							this.salesVolumeSort = true
							this.salesVolumeOrder = true
						}
						this.getShopList();
					},
					getShopList:function(){
						const myJson = {
							classifyCode: this.classifyCode,
							startPrice: this.startPrice,
							endPrice: this.endPrice,
							priceSort:this.priceSort,
							priceOrder:this.priceOrder,
							salesVolumeSort:this.salesVolumeSort,
							salesVolumeOrder:this.salesVolumeOrder,
							pageNum: this.page,
							pageSize:12
						}
						axios.post(allUrl.getShop,myJson).then((response) => {
							if (response != "" && response.code == 0) {
								this.goodList = response.data.data
								this.page =  response.data.pageIndex//显示的是哪一页
								this.pageSize = response.data.pageSize//每一页显示的数据条数
								this.total = response.data.totalCount //记录总数
								this.maxPage = response.data.pageCount //最大页数
							}
						})
					},
					// 搜索
					findShop:function(){
						let myPrice = /^[+]{0,1}(\d+)$|^[+]{0,1}(\d+\.\d+)$/;
						if(!myPrice.test(this.startPrice)){
							alert('请输入正确价格!')
							this.startPrice = '';
							return false
						}
						if(this.endPrice != ''){
							if(!myPrice.test(this.endPrice)){
								alert('请输入正确价格!')
								this.endPrice = '';
								return false
							}
							if(this.startPrice>this.endPrice){
								alert('请输入正确的价格区间!')
								this.endPrice = '';
								return false
							}
						}
						this.getShopList();
					},
					// 分页
					pageHandler: function (page) {
					    this.page = page;
						this.getShopList();
					},
					// 排序
					chnageSell:function(){
						if(this.showSell){
							this.sellNum = '销量'
							this.showSell = false
						}else{
							this.showSell = true
							this.sellNum = '销量从高到低排序'
							this.getShopList();
						}
					},
					// 跳转商品详情
					goodDetail:function(goGoodId,comtIds){
						localStorage.setItem(goodsId,goGoodId);
						localStorage.setItem(storeId,comtIds);
						window.location.href = 'shop-detail.html'
					},
					// 跳转店铺页
					shopDetail:function(goShopId){
						localStorage.setItem(shopsId,goShopId);
						window.location.href = 'shop-store.html'
					},
				},
				mounted() {
					this.getShopList();
					this.getNav();
					this.getTypeList();
				}
			})
		</script>
		
	</body>
</html>
