<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="css/qys/index.css" />
		<link rel="stylesheet" type="text/css" href="css/qys/shop.css" />
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			.myTop {
				display: none;
			}
		</style>
	</head>
	<body>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=63W4wCS4i4SEEmKbNqLuzV55zOy1enim"></script>
		<div class="headerpage2"></div>
		<div id="store">
			<div class="allWidth store-top clearfix">
				<img class="store-logo" :src="storeDetail.logo">
				<span>{{storeDetail.name}}</span>
				<i><img src="images/shop/store-cel.jpg">联系电话 : {{storeDetail.cellPhone}}</i>
			</div>
			<div class="store-nav">
				<ul>
					<li v-for="item in storeType" @click="lookGood(item.classifyCode,item.model)">{{item.title}}</li>
				</ul>
			</div>
			<div class="store-swiper swiper-container">
				<div class="swiper-wrapper">
					<div v-for="item in storeDetail.list" class="swiper-slide" :style="{backgroundImage:'url(' + item.url + ')'}"></div>
				</div>
				<div class="pagination"></div>
			</div>
			<div class="main-width">
				<p class="main-tit"><img src="images/shop/good-icon.jpg">优质商品推荐</p>
				<div class="goods-swiper swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for="item in remGoods.slice(0,10)">
							<a @click="goodDetail(item.id,item.classifyCode)">
								<div class="goods-img">
									<img :src="item.logo">
								</div>
								<h4>{{item.name}}</h4>
								<p>￥<i>{{item.price}}</i></p>
								<span>已售：{{item.salesVolume}}</span>
							</a>
						</div>
					</div>
					<img class="goods-btn goods-left" src="images/qu-img/index/left.png">
					<img class="goods-btn goods-right" src="images/qu-img/index/right.png">
				</div>
				<div class="good-btm clearfix">
					<div class="merchant-box fl">
						<div class="merchant-name"><img src="images/shop/merchant.png">{{storeDetail.name}}</div>
						<div class="merchant-cont" style="padding: 20px;">
							<p style="overflow: hidden;">主营产品：{{storeDetail.summary}}</p>
							<p>公司地址：{{storeDetail.address}}</p>
							<i class="merchant-line"></i>
							<p>联系人：{{storeDetail.realName}}</p>
							<p>电话：{{storeDetail.cellPhone}}</p>
							<p v-if="storeDetail.spareName">紧急联系人：{{storeDetail.spareName}}</p>
							<p v-if="storeDetail.sparePhone">紧急联系人电话：{{storeDetail.sparePhone}}</p>
						</div>
						<div class="clearfix">
							<div class="go-merchant">
								<!-- <a :href="['tel:'+ storeDetail.cellPhone]"> -->
								<a :title="storeDetail.cellPhone">
									<img src="images/shop/store-phone.png">
									<p>咨询电话</p>
								</a>
							</div>
							<div class="go-kf">
								<a :href="token == '' ? outLink : ['http://wpa.qq.com/msgrd?v=3&uin='+ storeDetail.csdQQ +'&site=qq&menu=yes']">
									<img src="images/shop/kf.png">
									<p>在线咨询</p>
								</a>
							</div>
						</div>
					</div>
					<div class="detail-buy fr">
						<div class="store-buy">
							<span @click="showType(0)">店家介绍</span>
							<span @click="showType(1)">订购说明</span>
						</div>
						<div v-if="showNum == 0" class="store-buy-mage" v-html="storeDetail.description"></div>
						<div v-if="showNum == 1" class="store-buy-mage">{{storeDetail.instructions}}</div>
					</div>
				</div>
				<div class="store-buy">
					<span>店家地址</span>
				</div>
				<div class="store-buy-mage">
					<div v-if="this.lng" id="allmap" style="height: 600px;"></div>
				</div>
			</div>


		</div>

		<div class="footerpage"></div>
		<script src="js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/qs.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/request.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/qu-js/urls.js" type="text/javascript" charset="utf-8"></script>
		<script>
			$(function() {
				/*公共部分
				 * 导航栏
				 * footer CopyRight
				 * duan
				 */
				$(".headerpage2").load("header2.html");
				$(".footerpage").load("footer.html?vid=0717");
			});
		</script>
		<script type="text/javascript">
			new Vue({
				el: '#store',
				data() {
					return {
						getUsers: '',
						token: '',
						outLink: 'javascript:;',
						businessId: localStorage.getItem(shopsId),
						storeDetail: '', //店铺详情
						remGoods: '', //店铺推荐商品
						couponList: '', //店铺优惠券
						storeType: '', //店铺商品分类
						showNum: 0,
						videoBox:'',
						useVideo:'',
						useBg:'',
						isVideo:false,
						videoShow:false,
						lng:'',
						lat:'',
					}
				},
				methods: {
					showType: function(num) {
						this.showNum = num
					},
					//获取店铺详情
					getGoodStore: function() {
						axios.get(allUrl.getStore, {
							params: {
								businessId: this.businessId,
							},
						}).then((response) => {
							if (response != "" && response.code == 0) {
								this.storeDetail = response.data
								this.lng = response.data.mapX
								this.lat = response.data.mapY
								this.$nextTick(() => {
									this.bannerSwiper();
									if(this.lng){
										this.setmap(this.lng,this.lat)
									}
								})
							}
						})
					},
					//获取店铺商品分类
					getStoreType: function() {
						axios.get(allUrl.getStoreCode, {
							params: {
								businessId: this.businessId,
							},
						}).then((response) => {
							if (response != "" && response.code == 0) {
								this.storeType = response.data
							}
						})
					},
					// 获取推荐商品
					getGoods: function() {
						axios.get(allUrl.bestGoods, {
							params: {
								pageSize: 10,
								businessId: this.businessId
							}
						}).then((response) => {
							if (response != "" && response.code == 0) {
								this.remGoods = response.data
								if (response.data.length > 5) {
									var goodSwiper = new Swiper('.goods-swiper', {
										slidesPerView: 5,
										spaceBetween: 15,
										autoplay: {
											delay: 2000,
											stopOnLastSlide: false,
											disableOnInteraction: false,
										},
										navigation: {
											nextEl: '.goods-right',
											prevEl: '.goods-left',
										},
										loop: true,
										observer: true, //修改swiper自己或子元素时，自动初始化swiper
										observeParents: true //修改swiper的父元素时，自动初始化swiper
									});
								} else {
									$('.goods-btn').hide();
									var goodSwiper = new Swiper('.goods-swiper', {
										slidesPerView: 5,
										spaceBetween: 15,
										navigation: {
											nextEl: '.goods-right',
											prevEl: '.goods-left',
										},
										observer: true, //修改swiper自己或子元素时，自动初始化swiper
										observeParents: true //修改swiper的父元素时，自动初始化swiper
									});
								}
							}
						})
					},
					// 跳转店铺商品
					lookGood: function(code, model) {
						localStorage.setItem(shopsId, this.businessId);
						localStorage.setItem(storeId, code);
						localStorage.setItem(typeModel, model);
						if (model == 0) {
							window.location.href = 'shop-store-tab.html'
						}
						if (model == 1) {
							window.location.href = 'shop-store-good.html'
						}
					},
					bannerSwiper: function() {
						// banner轮播
						const headSwiper = new Swiper('.store-swiper', {
							slidesPerView: 1,
							autoplay: {
								delay: 2000,
								disableOnInteraction: false,
							},
							pagination: {
								el: '.pagination',
								clickable: true,
							},
							loop: true,
							observer: true, //修改swiper自己或子元素时，自动初始化swiper
							observeParents: true //修改swiper的父元素时，自动初始化swiper
						});
					},
					// 跳转商品详情
					goodDetail: function(goGoodId, comtIds) {
						localStorage.setItem(goodsId, goGoodId);
						localStorage.setItem(storeId, comtIds);
						window.location.href = 'shop-detail.html'
					},
					// 加载百度地图
					setmap: function(mapX,mapY) {
						let _thiz = this
						map = new BMap.Map('allmap', {
							enableMapClick: true
						}); // 创建Map实例
						map.centerAndZoom(new BMap.Point(mapX, mapY), 11); // 初始化地图,设置中心点坐标和地图级别
						//添加地图类型控件
						map.addControl(new BMap.MapTypeControl({
							mapTypes: [
								BMAP_NORMAL_MAP,
								BMAP_HYBRID_MAP
							]
						}));
						map.setCurrentCity("北京"); // 设置地图显示的城市 此项是必须设置的
						map.enableScrollWheelZoom(true); //开启鼠标滚轮缩放
						//设置标注的图标
						var icon = new BMap.Icon("images/shop/map.png",new BMap.Size(100,100));
						//设置标注的经纬度
						var marker = new BMap.Marker(new BMap.Point(mapX, mapY),{icon:icon});
						//把标注添加到地图上
						map.addOverlay(marker);
						var content = "<table>";
						content = content + "<tr><td>名称："+ this.storeDetail.name +"</td></tr>";
						content = content + "<tr><td> 地点："+ this.storeDetail.address +"</td></tr>";
						content = content + "<tr><td> 电话："+ this.storeDetail.cellPhone +"</td></tr>";
						content += "</table>";
						var infowindow = new BMap.InfoWindow(content);
						marker.addEventListener("click",function(){
							this.openInfoWindow(infowindow);
						});

					},
				},
				mounted() {
					this.getGoodStore();
					this.getStoreType();
					this.getGoods();
				}
			})
		</script>
	</body>
</html>
