.lwxq_title {
	width: 100%;
	height: 1.16rem;
	background: #009900;
	position: fixed;
	top: 0rem;
	z-index: 99999;
}
.allLaowu{
	margin-top: 1.4rem;
}
.lwxq_title_txt {
	width: 90%;
	margin: 0px auto;
	height: auto;
	display: flex;
	padding-top: 0.35rem;
	justify-content: space-between;

}

.lwxq_title_txt>a {
	color: white;
	font-size: 0.32rem;
	line-height: 0.54rem;
	letter-spacing: 1px;
}
.lwxq_title_txt>:first-child>img{
	height: 0.42rem;
	margin-top: 2px;
}
.lwxq_title_txt>:last-child>img{
	height: 0.5rem;
	margin-top: 2px;
}

.lwxq_min {
	position: relative;
	width: 100%;
	padding-bottom: 0.5rem;
	border-bottom: solid 1px #ededed;
}

.lwxq_min_all {
	color: #353535;
	width: 87%;
	height: auto;
	margin: 0px auto;

}

.lwxq_min>div>p {
	margin-top: 0.3rem;
	color: #676767;
}

.lwxq_min>div>:first-child {
	color: #333333;
	font-weight: bold;
	font-size: 0.30rem;
	padding-bottom: 0.02rem;
}

.lwxq_min_xz {
	position: absolute;
	right: 8%;
	top: 0.05rem;
	z-index: 9999;
}

.lwxq_btn {
	position: fixed;
	width: 30%;
	height: 0.4rem;
	display: flex;
	justify-content: space-between;
	right: 5%;
	bottom: 0.2rem;
	display: none;
}

.lwxq_btn>span {
	padding: 0.1rem 0.2rem;
	border-radius: 5px;
	margin-right: 9%;
	color: white;
	line-height: 0.4rem;
	text-align: center;
	background: red;
}
.addLabour{
	position: fixed;
	bottom: 1.3rem;
	right: 5%;
	z-index: 8888;
}