.allStore{
	margin-top: 1.16rem;
	width: 100%;
	padding-bottom: 1.4rem;
}
.shopMain{
	width: 95%;
	height: 2.1rem;
	border-bottom: solid 1px #999999;
	margin: 0px auto;
	padding-top: 0.35rem;
	position: relative;
}
.shopMain>:first-child{
	float: left;
	width: 50%;
	height: 1.5rem;
	padding-right: 2%;
}
.shopMain>:first-child>img{
	width: 48%;
	height: 1.5rem;
}
.storeText{
	float: left;
	margin-left: -25%;
}
.storeText>:first-child{
	font-size: 0.32rem;
	font-weight: bold;
	letter-spacing: 2px;
}
.storeText>:first-child+p{
	padding-top: 0.24rem;
}
.storeText>:last-child{
	width: 1.6rem;
	height: 0.5rem;
	background: #009900;
	color: white;
	text-align: center;
	line-height: 0.5rem;
	border-radius: 4rem;
	margin-top: 0.1rem;
	position: absolute;
	right: 5%;
}