.lwxq_title {
	width: 100%;
	height: 1.16rem;
	background: #009900;
	position: fixed;
	top: 0rem;
}
.allList{
	margin-top: 1.16rem;
}
#app{
	position: relative;
}
#app>:first-child{
	position: fixed;
	bottom: 0.5rem;
	right: 0.4rem;
}
.lwxq_title_txt {
	width: 90%;
	margin: 0px auto;
	height: auto;
	display: flex;
	padding-top: 0.35rem;
	justify-content: space-between;

}
.lwxq_title_txt>a {
	color: white;
	font-size: 0.32rem;
	line-height: 0.54rem;
	letter-spacing: 1px;
}
.lwxq_title_txt>:first-child>img{
	height: 0.42rem;
	margin-top: 0.04rem;
}
.lwxq_title_txt>:last-child>img{
	height: 0.5rem;
	margin-top: 2px;
}
.lwxq_min_xz {
	position: absolute;
	right: 8%;
	top: 0.05rem;
	display: none;
}

.lwxq_btn {
	position: fixed;
	width: 30%;
	height: 0.4rem;
	display: flex;
	justify-content: space-between;
	right: 5%;
	bottom: 0.2rem;
	display: none;
}

.lwxq_btn>span {
	padding: 0.1rem 0.2rem;
	border-radius: 5px;
	margin-right: 9%;
	color: white;
	line-height: 0.4rem;
	text-align: center;
	background: red;
}
/* 列表内容 */
.listMain{
	width: 95%;
	height: auto;
	margin: 0px auto;
	padding-bottom: 0.3rem;
	border-bottom: solid 1px #eeeeee;
}
.listMain>:first-child{
	font-weight: bold;
	font-size: 15px;
	padding-top: 0.5rem;
	padding-bottom: 0.3rem;
}
.photoPic{
	width: 90%;
	height: auto;
	
}
.photoPic>img{
	float: left;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
}
.photoPic_right{
	float: left;
	height: 0.8rem;
	margin-top: 0.1rem;
	margin-left: 3%;
}
.photoPic_right>:first-child{
	font-weight: bold;
	margin-bottom: 0.1rem;
}
.photoPic_right>:last-child{
	color: #9f9f9f;
	font-size: 14px;
}
.listMain_conBox{
		width: 100%;
		height: auto;
}
.listMain_conP{
	margin-top: 0.2rem;
	letter-spacing: 1px;
	line-height: 18px;
	color: #0c0c0c;
}
.listMain_conBox>img{
	width: 32%;
	height: 2rem;
	margin: 0px auto;
	margin-top: 10px;
	border-radius: 8px;
}
.listMain_footer{
	width:32%;
	height: auto;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}
.listMain_footer>p{
	width: 40%;
}
.listMain_footer>p>img{
	height: 0.38rem;
	margin-top: 5px;
	padding-right: 10%;
}
.listMain_footer>p>span{
	color: #393939;
	font-size: 0.28rem;
	display: inline-block;
	height: 30px;
	line-height: 28px;
	padding-left: 1%;
}
.sharePage{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(0,0,0,0.3);
}
.sharePageMain{
	position: absolute;
	background: white;
	bottom: 0px ;
	width: 100%;
	height: 3.5rem;
	position: absolute;
	border-radius: 8px;
	display: flex;
	justify-content: space-around;
}
.mainList{
	width: 100%;
	height:2.4rem ;
	display: flex;
	justify-content: space-around;
	border-bottom: solid 1px #eeeeee;
}
.shareList>a{
	display: flex;
	height: 1.5rem;
	justify-content: center;
	margin-top: 0.75rem;
}
.shareList>a>p{
	text-align: center;
	position: absolute;
	top:1.65rem;
	color: #3a3a3a;
	font-size: 0.25rem;
}
.shareList>a>img{
	height: 0.75rem;
}
.sharePageMain>:last-child{
	position: absolute;
	bottom: 0.45rem;
	color: #3a3a3a;
	font-size: 0.25rem;
}

/* 分享 */
.active{
	display: none;
}