.lwxq_title {
	width: 100%;
	height: 1.16rem;
	background: #009900;
}
#app{
	position: relative;
}
.nav-box>ul{
	display: flex;
}
.lwxq_title_txt {
	width: 90%;
	margin: 0px auto;
	height: auto;
	display: flex;
	padding-top: 0.35rem;
	justify-content: space-between;

}

.lwxq_title_txt>a {
	color: white;
	font-size: 0.32rem;
	line-height: 0.54rem;
	letter-spacing: 1px;
}
.lwxq_title_txt>:first-child>img{
	height: 0.42rem;
	margin-top: 2px;
}
.lwxq_min_xz {
	position: absolute;
	right: 8%;
	top: 0.05rem;
	display: none;
}

.lwxq_btn {
	position: fixed;
	width: 30%;
	height: 0.4rem;
	display: flex;
	justify-content: space-between;
	right: 5%;
	bottom: 0.2rem;
	display: none;
}

.lwxq_btn>span {
	padding: 0.1rem 0.2rem;
	border-radius: 5px;
	margin-right: 9%;
	color: white;
	line-height: 0.4rem;
	text-align: center;
	background: red;
}
/* 列表内容 */
.listMain{
	width: 95%;
	height: auto;
	margin: 0px auto;
	padding-bottom: 0.3rem;
	border-bottom: solid 1px #eeeeee;
}
.listMain>:first-child{
	font-weight: bold;
	font-size: 15px;
	padding-bottom: 0.3rem;
	margin-top: 8px;
}
.photoPic{
	width: 90%;
	height: auto;
	
}
.photoPic>img{
	float: left;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
}
.photoPic_right{
	float: left;
	height: 0.8rem;
	margin-top: 0.1rem;
	margin-left: 3%;
}
.photoPic_right>:first-child{
	font-weight: bold;
	margin-bottom: 0.1rem;
}
.photoPic_right>:last-child{
	color: #9f9f9f;
	height: 14px;
}
.listMain_conBox{
	height: auto;
	padding: 0.2rem;
}
.listMain_conP{
	margin-top: 0.2rem;
	color: #333333;
}
.listMain_conBox>img{
	width: 32%;
	max-height: 1.8rem;
	margin: 0px auto;
	margin-top: 10px;
	border-radius: 8px;
}
.listMain_conBox>h4{
	padding-top: 0.1rem;
}
.listMain_footer{
	width:32%;
	height: auto;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}
.listMain_footer>p>img{
	transform: scale(0.7);
}
.listMain_footer>p>span{
	color: #393939;
	font-size: 17px;
	display: inline-block;
	height: 30px;
	line-height: 28px;
}
.nav-box{
	width: 100%;
	/* margin: 5px auto; */
	height: 1rem;
	line-height: 0.8rem;
	font-size: 15px;
	border-bottom: solid 1px #eeeeee;
	position: fixed;
	top: 0rem;
	background: white;
	z-index: 999999999;
}
.nav-box>ul{
	width: 60%;
}
.nav-box>ul>select{
	border: none;
	width:55%;
	height: 0.8rem;
	font-size: 0.32rem;
	color: #090909;
	font-weight: bold;
	margin-top: 0.1rem;
}
.navRig{
	transform: scale(0.7);
	display: inline-block;
	position: absolute;
	right: 0px;
}
.allList{
	padding-bottom: 1.4rem;
	margin-top: 0.6rem;
}

/* 我的帖子详情css */



.commentAll{
	width: 95%;
	height: auto;
	margin: 0px auto;
	margin-bottom: 0.6rem;
}
.commentList{
	position: relative;
}
.delList{
	position: absolute;
	right: 0rem;
	bottom: -0.1rem;
	transform: scale(0.4);
}
.iptMain{
	width: 95%;
	margin: 0px auto;
	/* margin-bottom: 1.5rem; */
}
.iptMain>textarea{
	text-indent: 0.05rem;
	width: 100%;
	height: 3.1rem;
	resize: none;
	margin-top: 0.3rem;
	padding: 0.1rem;
	box-sizing: border-box;
}
.fbBtn {
    width: 80%;
    height: 1rem;
    border-radius: 0.5rem;
    background: #009900;
    color: white;
    text-align: center;
    line-height: 1rem;
    font-size: 16px;
    margin: 0px auto;
    margin-top: 1rem;
}
.returnA{
	display: inline-block;
	margin-top: 0.15rem;
	margin-left: 2%;
}