.color-b {
    color: #0d80b7 !important;
}
.color-y {
    color: #fff100 !important;
    font-family: "FangSong";
}
.color-w {
    color: #fff;
}
.flex-box {
    display: flex;
    flex-wrap: wrap;
}
.coupons-box {
    /*width: 252px;*/
    display: inline-block;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
}
.flex-box :nth-child(4n) {
    margin-right: 0;
}
.coupons-box>img {
    width: 237px;
}
.color-center {
    position: absolute;
    top: 0;
    display: flex;
    margin: 20px;
}
.color-center b {
    font-size: 22px;
    position: relative;
    top: -66px;
}
.color-center .money {
    position: relative;
    top: -20px;
    font-size: 98px;
}
.color-center .color-text {

}
.color-text :first-child {
    font-size: 25px;
    border-bottom: 1px solid #fff;
}
.color-text :nth-child(2) {
    font-size: 18px;
}
.color-text .coupons-btn-y {
    border-radius: 8px;
    padding: 5px 15px;
    background-color: #fff100;
    color: #8b6aff;
    text-align: center;
    font-size: 16px;
    margin: 10px;
}
.color-text .coupons-btn-g {
    border-radius: 8px;
    padding: 5px 15px;
    background-color: #c0c0c0;
    color: #8b6aff;
    text-align: center;
    font-size: 16px;
    margin: 10px;
}
.color-text .color-black {
    color: #000;
}
.color-center .color-b {
    color: #363636 !important;
}
.color-center .color-h {
    color: #919191 !important;
}
.color-text .border {
    border-bottom: 1px solid #aba9a9;

}
