input {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

body {
	font-family: "微软雅黑";
	margin: 0;
	padding: 0;
	font-size: 14px;
	padding-bottom: 70px;
}

a {
	text-decoration: none;
	color: #666666;
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
th,
td,
p {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

img {
	border: none;
	vertical-align: top;
}

.clearfix {
	*zoom: 1;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

i {
	font-style: normal;
}

textarea {
	outline: none;
	padding: 0;
	margin: 0;
}

.show {
	display: block !important;
}

.hidden {
	display: none !important;
}

.red {
	color: #FF0000;
}

.blue {
	color: #3388ff;
}

.green {
	color: #00bb50;
}
.orange{
	color:#e39727;
}
[v-cloak] {
	display: none;
}
.merchant-cont {
	display: block;
	padding-top: 0;
}
.shenglue{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}			
.selectTdClass{background-color:#edf5fa !important}table.noBorderTable td,table.noBorderTable th,table.noBorderTable caption{border:1px dashed #ddd !important}table{margin-bottom:10px;border-collapse:collapse;display:table;}td,th{padding: 5px 10px;border: 1px solid #DDD;}caption{border:1px dashed #DDD;border-bottom:0;padding:3px;text-align:center;}th{border-top:1px solid #BBB;background-color:#F7F7F7;}table tr.firstRow th{border-top-width:2px;}.ue-table-interlace-color-single{ background-color: #fcfcfc; } .ue-table-interlace-color-double{ background-color: #f7faff; }td p{margin:0;padding:0;}
