/* 头 */
.head-title .head-search {
	margin-top: 0;
}

.head-title {
	width: 100%;
	height: 1.16rem;
	background: #009900;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.head-title-box {
	width: 90%;
	margin: 0px auto;
	height: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
}

.head-title-box>a {
	color: white;
	line-height: 0.54rem;
}

