.wapr {
	overflow: hidden;
}

.anquan-icon {
	margin: 35px 0;
}

.anquan-icon img {
	margin-top: 20px;
}

.anquan-icon h2 {
	font-size: 16px;
}

.anquan-icon p {
	font-size: 14px;
	color: #999;
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.aq-but {
	border-radius: 5px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	background: #00bb50;
	color: #fff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}

.aq-nav {
	width: 100%;
	margin: -55px auto 0;
	background: #fff;
	overflow: hidden;
	position: relative;
	border-radius: 20px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.aq-nav div {
	width: 11.11%;
	padding: 50px 0;
	font-size: 18px;
	float: left;
	text-align: center;
	cursor: pointer;
	color: #000
}

.aq-font {
	margin-top: 90px;
}

.aq-font img {
	float: left
}

.title {
	overflow: hidden;
}

.aq-font .title img {
	margin-top: 0;
}

.title img {
	float: left;
	margin-top: 23px;
	margin-right: 20px;
}

.title h1 {
	float: left;
	font-size: 35px;
	display: inline-block;
}

.title h2 {
	float: left;
	font-size: 26px;
	display: inline-block;
}

.aq-font p {
	font-size: 16px;
	color: #6A7599;
	/*overflow: hidden;*/
	display: -webkit-box;
	/*text-overflow: ellipsis;*/
	-webkit-box-orient: vertical;
	/* -webkit-line-clamp: 4; */
	margin-top: 5px;
	margin-bottom: 0;
}

.aq-font-box {
	width: 100%;
	padding: 30px 5%;
	border: 1px solid #C7D9FF;
	color: #666;
	line-height: 36px;
	margin-top: 25px;
}

.gn {
	overflow: hidden;
	padding: 30px 3%;
	border: 1px solid #C7D9FF;
	margin-top: 25px;
}

.gn img {
	float: left;
	width: 80px;
	margin-right: 20px;

}

.gn h3 {
	margin-top: 7px;
	font-size: 18px;
}

.gn div {
	float: left;
	width: calc(100% - 100px);
}

.gn p {
	width: 100%;
	font-size: 13px;
	margin-bottom: 0;
	margin-top: 5px;
	/*text-overflow: ellipsis;*/
	/*white-space: nowrap;*/
	/*overflow: hidden;*/
}

.gn p span {
	display: inline-block;
	margin-top: 5px;
}

.aq-box4 {
	text-align: center;
	margin-top: 30px;
	padding: 50px 0;
	color: #fff;
}

.aq-box4 img {
	margin: 0 auto;
}

.back1 {
	background: #c6162a;
}

.back2 {
	background: #603620;
}

.back3 {
	background: #2e5660;
}

.back4 {
	background: #caa883;
}

/*-----------新闻-----------*/
.news-container {
	width: 1200px;
	margin: 0 auto;
}

.new-font {
	position: absolute;
	right: 0px;
	top: 140px;
	width: 650px;
	height: 297px;

	background: #f7f7f7;
	z-index: 9999;
	padding: 50px;
}

.new-font .blue {
	font-size: 25px;
	color: #258ffc;
	font-weight: bold;
}

.new-font h1 {
	font-size: 25px;
	color: #666;
	padding: 0;
	margin: 10px auto 20px;
}

.new-font {
	line-height: 25px;
}

.new-list {
	overflow: hidden;
	margin-bottom: 20px;
	border-bottom: solid 1px #eeeeee;
	padding-bottom: 10px;
}

.new-list .left {
	width: 258px;
	height: 200px;
	float: left;
	background: red;
}

.new-list>.left>img {
	width: 258px;
	height: 200px;
}

.new-list .right {
	width: calc(100% - 300px);
	height: 200px;
	float: right;
	padding: 0 20px;
	position: relative;
}

.new-list .p1 {
	border-radius: 10px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	line-height: 16px;
	position: absolute;
	right: 15px;
	top: 30px;
}

.kongjian-main {
	width: 10%;
	/*margin:0;*/
	/*margin-top: 25px;*/
	height: 15px;
}

.new-list .right .p2 {
	/*margin-top: 50px;*/
	font-weight: 700;
	font-size: 18px;
	cursor: pointer;
}

.new-list .right .p2:hover {
	color: #1C79DC;
}

/* .btn-more0 button{
	width: 15%;
	height: 35px;
	border: none;
	border-radius: 8px;
} */
.btn-more0 a {
	display: block;
	width: 122px;
	height: 40px;
	line-height: 40px !important;
	text-align: center;
	border-radius: 30px;
	border: 2px solid #E5E5E5;
	color: #6e6e6e;
	font-size: 13px;
	margin: auto;
	position: absolute;
	z-index: 1;
	transition: ease .65s;
	bottom: 10px;
	right: 15px;
}

.btn-more0 a:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 30px;
	background: #1C79DC;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	transform: scale(0);
	opacity: 0;
	transition: ease .65s;
}

.btn-more0 a:hover {
	color: #fff !important;
	box-shadow: 0 0 15px rgba(246, 85, 76, .25);
	border-color: #1C79DC;
}

.btn-more0 a:hover:before {
	opacity: 1;
	transform: scale(.9);
}

.dian2 {
	margin-top: 10px;
	width: 93%;
	overflow: hidden;
	line-height: 25px;
	display: -webkit-box;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

.dian4 {
	-webkit-line-clamp: 4;
}

.pics-thumbs .box {
	width: 100%;
	position: relative;
}

.pics-thumbs .box>img {
	float: left;
}

.pics-thumbs .box .box2 {
	width: 100%;
	position: relative;
}

.year {
	width: 150px !important;
	text-align: center;
	line-height: 63px;
	font-size: 26px;
	border-right: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	cursor: pointer;
}

.year span {
	font-size: 24px;
}

.year-box {
	width: 100%;
	height: 380px;
	background: url(../images/about/year.jpg) no-repeat;
	background-size: 100% 400px;
	padding: 50px 0px 0px 50px;
	color: #fff;
	overflow: hidden;
}

.year-box p {
	margin-bottom: 10px;
	font-size: 13px;
}

.year-box-r p {
	overflow: hidden;
}

.year-box-l {
	float: left;
	width: 50%;
	height: 250px;
	background: url(../images/about/year-dian.png), url(../images/about/year-line.jpg);
	background-repeat: no-repeat;
	background-size: 20px, 1px 100%;
	background-position: left top, 10px 5px;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 20px;
}

.year-box-r {
	float: left;
	width: 50%;
	height: 100%;
	background: url(../images/about/year-dian.png), url(../images/about/year-line.jpg);
	background-repeat: no-repeat;
	background-size: 20px, 1px 100%;
	background-position: left top, 10px 5px;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 20px;
}

.year-box h1 {
	font-size: 26px;
	margin-bottom: 10px
}

.gallery-thumbs {
	width: 900px;
	margin: 0 auto;
}

.anquan-cccBox {
	/*position: absolute;*/
	width: 100%;
	height: 740px;
	background: url("../images/anquan/b13.jpg") center no-repeat;
	overflow: hidden;
}

.anquan-ccc {
	height: 780px;
	width: 1200px;
	position: relative;
	left: 50%;
	margin-left: -600px;
}

.anquan-ccc img {
	position: absolute;
	left: 16%;
	width: 820px;
	height: 680px;
	margin-top: 70px;
	z-index: 9;

}

.a-1 {
	position: absolute;
	top: 71px;
	left: 592px;
	width: 100px;
	height: 60px;
	z-index: 999999;
}

.a-2 {
	position: absolute;
	top: 185px;
	left: 826px;
	width: 100px;
	height: 60px;
	z-index: 999999;
}

.a-3 {
	position: absolute;
	top: 354px;
	left: 908px;
	width: 100px;
	height: 60px;
	z-index: 999999;
}

.a-4 {
	position: absolute;
	top: 565px;
	left: 830px;
	width: 100px;
	height: 60px;
	z-index: 999999;
}

.a-5 {
	position: absolute;
	top: 660px;
	left: 625px;
	width: 100px;
	height: 60px;
	z-index: 999999;
}

.a-6 {
	position: absolute;
	top: 622px;
	left: 352px;
	width: 100px;
	height: 60px;
	z-index: 999999;
}

.a-7 {
	position: absolute;
	top: 528px;
	left: 242px;
	width: 100px;
	height: 60px;
	z-index: 999999;
}

.a-8 {
	position: absolute;
	top: 302px;
	left: 202px;
	width: 100px;
	height: 60px;
	z-index: 999999;
}

.a-9 {
	position: absolute;
	top: 154px;
	left: 315px;
	width: 100px;
	height: 60px;
	z-index: 999999;
}

.anquan-cccBox {
	clear: both;
	overflow: hidden;
}

.anquan-cccBox::after {
	content: '';
	display: block;
	clear: both;
}

.new-list .left img {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 500px) {
	.swip-next {
		display: none;
	}

	.new-list .left img {
		height: auto;
	}

	.thiz-banner {
		margin-top: 50px;
	}

	.thiz-banner img {
		height: 150px;
	}

	.newsSwip {
		height: 380px;
	}

	.news-container {
		width: 100%;
		margin-top: 20px;
	}

	.btn-more0 a {
		border: 0;
	}

	.new-font .blue {
		font-size: 16px;
	}

	.new-font {
		position: relative;
		right: 0px;
		bottom: 0;
		top: 0;
		width: 100%;
		background: #f7f7f7;
		z-index: 9;
		padding: 15px 20px;
		box-sizing: border-box;
	}

	.dian2 {
		font-size: 12px;
		line-height: 20px;
	}

	.new-list .right .p2 {
		font-size: 15px;
	}

	.new-font h1 {
		font-size: 15px;
		font-weight: bold;
	}

	.new-font {
		height: 230px;
	}

	.swip-next {
		margin-top: 0 !important;
	}

	.new-list {
		padding: 0 15px;
		position: relative;
	}

	.new-list .left {
		width: 70px;
		height: 70px;
		position: absolute;
		top: 50px;
		left: 30px;
	}

	.new-list .right {
		width: 100%;
		height: auto;
		float: right;
		padding: 0 20px 50px 100px;
		border: 1px solid #ccc;
		margin-top: 20px;
	}

	.new-list .p1 {
		margin: 0;
		margin-top: 25px;
		height: 30px;
	}

	.news-p {
		margin-top: 0 !important;
	}

	.new-list .p1 {
		right: initial;
		top: initial;
		bottom: 10px;
		left: 20px;
	}

	.new-list .p3 {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
	}

	.thiz-banner {
		margin-top: -10px;
	}
}


.thiz-banner {
	margin-top: 70px;
}

.main-last {
	margin-bottom: 20px;
}

.thiz-banner {
	margin-top: 20px;
	background: url(../../images/fangImg/zxfuBanner.jpg);
	height: 460px;
	background-position: center;
	line-height: 150px;
}
.thiz-banner>p{
	text-align: center;
}


/* 新增 */
.serviceHeader{
			clear: both;
			width: 1200px;
			height: 280px;
			margin-top: 20px;
		}
		.dataMain{
			width: 580px;
			height: 278px;
			margin-bottom: 10px ;
			color: white;
			background: pink;
			padding-bottom: 20px;
			float: left;
			margin-right: 10px;
		}
		.dataText{
			width: 370px;
			margin-bottom: 37px ;
			color: white;
		}
		.main-h3{
			margin-top: 165px;
			padding-top: 5px;
			padding-bottom: 15px;
		}
		.main-p{
			font-size: 14px;
			    display: -webkit-box;
			    -webkit-box-orient: vertical;
			    -webkit-line-clamp: 3;
			    overflow: hidden;
		}
		.main-p2{
			font-size: 14px;
			margin-top: 10px;
		}
		.main-p3{
			font-size: 14px;
			margin-top: 10px;
			width: 35px;
			height: 20px;
			text-align: center;
			background: #f89611;
		}
		.liatMain{
			margin-left: 30px;
		}