*{
	margin: 0px;
	padding: 0px;
}

.serchListMainRight{
	height: 180px;
	background: #ecf5fa;
	border: solid 1px #ecf5fa;
}
.serchListMainRight>ul {
	width: 1200px;
	margin: 0px auto;
}
.serchListMainRight>ul>li{
	width: 288px;
}
.serchListMainRight>ul>:first-child {
	font-size: 19px;
	font-weight: 500;
	color: black;
	margin-top: 30px;
}
.serchListMainRight>ul>:first-child>span{
	font-size: 16px;
	display:block;
	width: 120%;
	text-align: left;
	color: #f14748;
	padding-bottom: 18px;
	padding-top: 18px;
}
.serchListMainRight>ul>:first-child+li {
	font-size: 14px;
	color: #666666;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	border-bottom: 1px solid #efefef;
	padding-bottom: 8px;
	padding-top: 8px;
	width: 340px;
}

.serchListMainRight>ul>:first-child+li+li {
	font-size: 14px;
	color: #666666;
	margin-top: 8px;
}

.serchListMainRight>ul>:first-child+li+li+li {
	font-size: 14px;
	color: #666666;
	margin-top: 8px;
}
.detailsMain{
	width: 1200px;
	margin: 0px auto;
	border-bottom: solid 1px #dddddd;
}
.detailsMain>:first-child{
	font-size: 16px;
	font-weight: 500px;
	padding-top: 20px;
}
.detailsMain>p{
	padding-top: 10px;
	padding-bottom: 18px;
}
.detailsFoot{
	padding-top: 15px;
	width: 1200px;
	margin: 0px auto;
}
.detailsFoot>p{
	padding-top: 10px;
	padding-bottom: 18px;
}