.* {
	margin: 0px;
	padding: 0px;
}

.titlePic {
	width: auto;
	height: auto;
}
.main-last {
	margin-bottom: 20px;
}
.thiz-banner {
	height: 460px;
	background-position: center;
	line-height: 150px;
}
.boxWhite{
	width: 100%;
	height: 20px;
	background: white;
}
#app {
	background: #f8f8f8;
}


/* newList coppy */
.newHzhbPage {
	width: 1200px;
	margin: 0px auto;
}

.doSerchIpt {
	margin-left: 200px;
	margin-top: 50px;
}

.doSerchIpt>p>input[type=text] {
	margin: 0px auto;
	width: 700px;
	height: 40px;
	outline: none;
	border: solid 1px #0f6fd6;
	text-indent: 7px;
	float: left;
	box-sizing: border-box;
}

.doSerchIpt>p>button {
	background: #498cd1;
	outline: none;
	height: 40px;
	text-align: center;
	color: white;
	width: 90px;
	font-size: 15px;
	border: none;
	float: left;
}

.serchList {
	width: 1200px;
	margin-top: 50px;
}

.serchListMain {
	width: 370px;
	height: 175px;
	float: left;
	margin-right: 15px;
	margin-top: 15px;
	background: white;
	cursor: pointer;
}

.serchListMainRight {
	float: left;
}

.serchListMainRight>ul {
	margin-left: 14px;
	width: 80%;
}
.serchListMainRight>ul>li{
	width: 288px;
}
.serchListMainRight>ul>:first-child {
	font-size: 16px;
	font-weight: 500;
	color: black;
	margin-top: 20px;
}
.serchListMainRight>ul>:first-child>span{
	margin-top: -20px;
	display:block;
	width: 120%;
	text-align: right;
	color: #f14748;
}
.serchListMainRight>ul>:first-child+li {
	font-size: 14px;
	color: #666666;
	border-bottom: 1px solid #efefef;
	padding-bottom: 2px;
	padding-top: 8px;
	width: 340px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.serchListMainRight>ul>:first-child+li+li {
	font-size: 14px;
	color: #666666;
	margin-top: 8px;
}

.serchListMainRight>ul>:first-child+li+li+li {
	font-size: 14px;
	color: #666666;
	margin-top: 8px;
}
