a, a:hover, a:active, a:visited, a:link, a:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
    background: none;
    text-decoration: none;
}
.hide {
    display: none !important;
}
.block {
    display: block !important;
}
.goodList .good-money {
    position: absolute;
    right: 0.46rem;
    top: 0.3rem;
    font-weight: bold;
    font-size: 0.3rem;
}
.goodList i {
    position: sticky;
}
.goodList .goShopCar{
    width: 1.6rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    font-size: 0.26rem;
    color: #0c73a6;
    border: 2px solid #0c73a6;
    border-radius: 0.6rem;
    position: absolute;
    right: 0.38rem;
    bottom: 0.3rem;
    font-weight: bold;
}
.shop-screenNav{}
.shop-screenNav li{
    display: inline-block;
}
.shop-jump {
    display: none;
}
.findShop {
    display: inline-block;
    margin: 30px auto;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #FF0000;
    color: #FF0000;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 10px;
}
.jump-list select {
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    margin-bottom: 0.1rem;
    display: inline-block;
    background: #f6f6f6;
    color: #666666;
}
.jump-list p {
    margin-bottom: 10px;
}
.jump-list input {
    height: 30px;
    border: 1px solid #dddddd;
    outline: none;
    padding: 0 5px;
}
.jumpList li {
    width: auto;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    margin-bottom: 0.1rem;
    display: inline-block;
    background: #f6f6f6;
    color: #666666;
    margin-right: 0.2rem;
    padding: 0 0.2rem;
	font-size: 0.26rem;
}
.jumpList {
    display: flex;
    display: -webkit-flex;
    margin-top: 0.2rem;
    flex-wrap: wrap;
}
.price-range {
    width: 38%;
}
.jumpList .scren {
    color: #fff;
    background: #a5d7f3;
}
.mescroll-upwarp.mescroll-hardware{
    display: none !important;
}
.cart-btm .delete {
    display: none;
}
.cartBtm-l span {
    position: absolute;
    top: 50%;
    margin-top: -0.2rem;
    left: 0.4rem;
    width: 0.7rem;
    color: #969696;
}
.cart-btm {
    font-size: 0.24rem;
}
.lwxq_title .delateSome {
    font-size: 0.2rem;
}
.cartBtm-l {
    top: 10px;
}
.cart-name input {
    width: 0.28rem;
    height: 0.28rem;
    opacity: 1;
    position: static;
    left: 0;
    top: 0.4rem;
}
.detail-go {
    position: absolute;
    width: 1.4rem;
    height: 0.5rem;
    line-height: 0.44rem;
    text-align: center;
    border: 1px solid #009900;
    box-sizing: border-box;
    font-size: 0.24rem;
    border-radius: 0.6rem;
    bottom: 0.5rem;
    display: inline-block;
}
.good-type span {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #dddddd;
    padding: 0 10px;
    color: #666666;
    cursor: pointer;
}
.good-type .checked {
    border: 1px solid #ff0000;
    color: #FF0000;
}
.detail-type i {
    color: #000;
    margin: 0;
}
.jumpDetail {
    bottom: 0;
    top: inherit;
}
.pay {
    display: inline-block;
    width: 2.14rem;
    height: 0.76rem;
    line-height: 0.76rem;
    border-radius: 0.76rem;
    border: 1px solid #f59500;
    color: #f59500;
    text-align: center;
    margin-top: 15px;
    font-size: 0.26rem;
}
.bColor {
    background: #009900;
}
.goodList .cat {
    width: 1.6rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    font-size: 0.26rem;
    color: #0c73a6;
    border: 2px solid #0c73a6;
    border-radius: 0.6rem;
    position: absolute;
    right: 0.38rem;
    top: 1rem;
    font-weight: bold;
}
.productList {
    background-color: #fffcf0;
    border-bottom: 2px solid #fff;
    padding: 5px 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.productList div {
    line-height: .6rem;
}
.addCart {
    display: inline-block;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
    background: #ee8601;
    border-radius: 5px;
    border: 1px solid #8a5d24;
}
.cart-pay .active {
    background: url(../../../images/shop/pay-on.png);
    background-size: 100% 100%;
}
.upImg .imgBtn {
    background-image: url(../../../images/shop/upImg.png);
    background-size: 100% 100%;
    width: 2.6rem;
    height: 2.6rem;
    display: inline-block;
    margin-left: 0.3rem;
}
.upImg input {
    width: 2.6rem;
    height: 2.6rem;
    opacity: 0;
    z-index: 99;
    filter: alpha(opacity = 0);
    -ms-filter: 'alpha(opacity=0)';
}
.pay-ask {
    margin-left: -45%;
    width: 90%;
    padding: 0.6rem 0.2rem 0;
	box-sizing: border-box;
}
.xx-cont{
	text-align: center;
}
.xx-cont label,.xx-cont input{
	display: inline-block;
	line-height: 0.6rem;
}
.xx-cont input{
	border: 1px solid #DDDDDD;
	padding: 0 5px;
	border-radius: 5px;
}
#demo1 {
    width: 130px;
}
.passTip {
    margin: 5px auto 0;
    text-align: right !important;
    color: #8f8f8f;
}
.coupon-btn {
    padding: .1rem;
    display: inline-block;
   /* color: #fff;
    background-color: #fa9600; */
    position: absolute;
    border-radius: 6px;
    top: .3rem;
    right: 0.3rem;
	outline: 0;
}
.coupon-box {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .3rem;
    background-color: #fff;
    display: none;
    overflow: hidden;
    min-height: 200px;
    z-index: 9999;
    overflow-y: scroll;
    max-height: 80%;
}
.coupon-box div {
    line-height: 30px;
}
.detail-particulars {
    padding: .4rem;
    background-color: #fff;
}
.oneLine {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wdscList span {
    float: right;
    color: #ccc;
}
.mb {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
    z-index: 999;
    display: none;
}
.coupon-list {
    background-size: cover;
    background-color: #d9cfff;
    border-radius: 6px;
    background-position: center;
    background-repeat: no-repeat !important;
    width: 100%;
    height: 80px;
    padding: 2px 30px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-bottom: 20px;
}
.coupon-list a {
    color: #9070ff;
    background: #fff100;
    display: inline-block;
    padding: 0 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 10px;
}
.coupon-list i {
    position: absolute;
    font-size: 20px;
    color: #fff100;
    left: 10px;
    top: 27px;
}
.coupon-list span {
    line-height: 78px;
    color: #fff100;
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
}
.coupon-list .coupon-t {
    font-size: 18px;
    border-bottom: 1px solid #FFFFFF;
}
.coupon-list p {
    color: #FFFFFF;
    font-size: 16px;
}
.contentP .coupon-btn2 {
    float: right;
    background: linear-gradient(to right,#ffc800, #fd7704);
    margin-top: .3rem;
    padding: 2px 5px 2px 10px;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.hotListMain img {
    width: 1.45rem;
    height: 1.45rem;
    background: #f6f6f6;
}
.listMainDemo img {
    width: 0.4rem;
    line-height: 1.15rem;
    margin-top: 0.37rem;
}
.listMainDemo>p {
    display: flex;
    justify-content: space-between;
    font-size: 0.28rem;
    color: #141414;
    height: 1.15rem;
    line-height: 1.15rem;
    letter-spacing: 0.01rem;
}
.shopCont {
    padding: 1.16rem 0 1.38rem 0;
}
.shop-header {
    height: 1.16rem;
    line-height: 1.16rem;
    padding: 0 0.4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #009900;
    display: flex;
    display: -webkit-flex;
}
.shop-header img {
    margin-top: .26rem;
}
.good-operate img {
    height: 24px;
    margin-right: 6px;
}
.good-operate {
    position: absolute;
    right: .4rem;
    bottom: .2rem;
}
.detail-pad {
    position: relative;
}
.callShop {
    background: #fff;
    padding: 15px;
    width: 80%;
    margin: 5rem auto;
    text-align: center;
}
.callShop div {
    margin-bottom: 10px;
    border-radius: 6px;
}